* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.content {
 
height: 100vh;
 
width: 100vw;
 
background: #9d0df7;
 
display: flex;
 
justify-content: center;
 
align-items: center;
}

.chat-box {
 padding-top: 0px;
 display: flex;
 height: 85%;
 width: 97%;
 border-radius: 153px;
 /* display: flex; */
}

.left-view {
 
height: 100%;
 
width: 35%;
 
display: flex;
 
align-items: flex-start;
 
/* flex-direction: column; */
 
/* justify-content: center; */
 
background: #f0edf3;
 
/* border-top-left-radius: 10px; */
 
/* border-bottom-left-radius: 10px; */
 
overflow: auto;
 
flex-flow: column wrap;
 
border: 31px #ff0909;
 
border-radius: 21px  0px 0px 21px;
}

.right-view {
 height: 100%;
 width: 70%;
 background: #1b1b1b;
 width: 65%;
 ound: teal; */
 border-top-right-radius: 10px;
 border-bottom-right-radius: 10px;
 position: relative;
 display: flex;
 justify-content: center;
 /* border-radius: 21px 0px; */
 border-radius: 0px 21px 21px 0px;
}

.chat-list {
     width: 100%;
    height: 75%;
    padding-down: 36px;
    /* overflow-wrap: anywhere; */
    overflow: auto;
    margin: auto;
    margin-down: 10px;
}
.chat {

 color: white;
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 14px;
  padding: 10px; /* width: 224px; */
  max-width: 70%;
  overflow-wrap: auto;

}

.left {
  background: #5a41a9;
  float: left;
  clear: both;

      word-break: break-all;
}
.right {
  background: #5c5077;
  float: right;
  clear: both;
     word-break: break-all;

}

.join {
  width: 100%;
  /* background: #3498db; */
  color: #ffffff;
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 53px;
  padding: 10px;
  justify-content: center;
  font-size: 20px;
  box-shadow: skyblue;
  font-weight: bold;
}
.leave {
  width: 98%;
  /* background: #e74c3c; */
  color: #ef6060;
  text-size-adjust: auto;
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 14px;
  padding: 8px;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.chat-send {
  position: absolute;
  bottom: 10px;
  display: flex;
  width: 95%;
  background: #f5f5f7;
  height: 50px;
  align-items: center;
  border-radius: 34px;
}


.chat-send input {
      width: 88%;
    height: 80%;
    background: bottom;
    outline: none;
    border: none;
    font-size: 20px;
    color: #171616;
    margin-left: 10px;
    font-weight : bold;
}
.send-button {
}
.fas {
  font-size: 30px;

  color: #aca6c1;
}


.me {
    width: 80%;
    height: 20%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    size: auto;
}

.user-image {
    height: 75%;
    width: 50%;
}

.user-image img {
        height: 100%;
        
    width: 78%;
    border-radius: 100px;

}


.user-name {font-weight: bold;font-size: 87%;width: 20%;}

.online-list {width: 79%;height: 19%;/* border-bottom: 1px solid lightgrey; */display: flex;align-self: flex-start;justify-content: i;align-items: center;flex-direction: column;}

